<div class="tbg">
  <div class="theader">
      <div class="tname"> <span class="query">ダイニングテーブル</span></div>
  </div>
  <div class="tbgwrap">
      <app-card  [parentSubject]="parentSubject">
      </app-card>
  </div>
  <div class="tcontrols">
    <div class="ttable">
      <div class="tno"><i (click)='cardAnimation("swipeleft")' class="fa fa-times" aria-hidden="true"></i></div>
      <div class="tyes"><i (click)='cardAnimation("swiperight")' class="fa fa-heart" aria-hidden="true"></i></div>
      <div class="tsuper"><i (click)='cardAnimation("swipeup")'  class="fa fa-star" aria-hidden="true"></i></div>
      <div class="tcomplement"><i (click)='cardAnimation("swipedown")' class="fa fa-cart-plus" aria-hidden="true"></i></div>
    </div>
  </div>
</div>